*{
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Orelega One', cursive;
    font-family: 'Roboto', sans-serif;

}

body{
    background-color: #D9D9D9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}
nav{
    background-color: #D9D9D9;
    margin: 20px;
}

.nav-link{
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    padding: 2px;
}

.navbar-collapse{
    flex-grow: 0;
}

.select{
    color: #86654B;
    font-weight: 500;
}

.navbar-brand{
    color: #86654B;
    font-weight: 400;
}


.navbar-nav a.nav-link:hover{
    color:#86654B 
}

section{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

#inicio{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}

#about-me{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 80vh;
    display: none;
}

#habilidades{
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

#proyectos{
    height: 80vh;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

#contacto{
    height: 80vh;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.skills{
    margin-top: 50px;
    padding: 30px;
    width: 100%;
    height: 100%;
}


.imagen-skill{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 150px;
    height: auto;
    aspect-ratio: 3/3;
    object-fit: contain;
}

.p-skill{
    margin: 0;
}

.card{
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

h2{
    font-size: 150px;
    margin: 0;
    border-right: 5px solid;
}

h1{
   margin: 0;
   
}

h3{
    color: #86654B;
}

.biografia{
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.enviar{
    background-color: #86654B;
    color: #D9D9D9;
}

button i{
    margin: 0;
    padding: 0;
}

.modo{
    background-color: #D9D9D9;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modo:hover{
    background-color: #c9c9c9;
}


i{
    color: black;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 20px;
}

.formulario{
    margin-top: 30px;
}

.textForm{
    justify-content: left;
}

label {
    display: flex;
    flex-direction: row;
  }

.biografia p{
    font-size: 20px;
}

.text-animacion{
    animation: teclear 3s steps(35), efecto 0.5s step-end infinite alternate
}

.reverse{
    animation: teclear-inverse 3s steps(35)
}

/*Modo*/
body.dark{
    background-color: rgb(13, 21, 34);
}

body.dark nav{
    background-color:  rgb(13, 21, 34);
}

body.dark .navbar a{
    color: whitesmoke;
}

body.dark .navbar .disable{
    color: goldenrod;
}

body.dark .navbar-nav a.nav-link:hover{
    color: goldenrod;
}

body.dark .navbar a.select{
    color: goldenrod;
}

body.dark h1{
    color: whitesmoke;
}

body.dark h2{
    color: whitesmoke;
}

body.dark h3{
    color: goldenrod;
}

body.dark p.cambiable{
    color: whitesmoke;
}

body.dark i.red{
    color: whitesmoke;
}

body.dark label{
    color: whitesmoke;
}

body.dark .modo{
    background-color: rgb(13, 21, 34);
}

body.dark .modo:hover{
    background-color: rgb(21, 33, 53);
}

body.dark .enviar{
    background-color: goldenrod;
}

body.dark .enviar:hover{
    background-color: rgb(13, 21, 34);
    color: whitesmoke;
}

@keyframes teclear{
    from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes efecto{
    50%{
        border-color: transparent;
    }
}

@keyframes teclear-inverse{
    from{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
       
    }to{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
}